<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{head_title}}</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<script src="assets/js/angular.min.js"></script>
	</head>
	<body class="container my-3 bg-dark text-white">


First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}


<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "John";
    $scope.lastName = "Doe";
});
</script>
		
		<script src="assets/js/bootstrap.bundle.min.js"></script>
	</body>
</html>